<div class="App">
  <div class="App_menu">
    <div class="FriendList">

      <div class="FriendList_tools">
        <div
          class="FriendList_logout"
          (click)="logout()"
        ><i class="material-icons">exit_to_app</i></div>
        <div class="FriendList_filter">
          <div class="FriendList_filterIcon"><i class="material-icons">search</i></div>
          <div class="FriendList_filterInput">
              <input
              type="text"
              [(ngModel)]="filter"
            >
          </div>
        </div>
      </div>

      <div class="FriendList_group">
        <div class="FriendList_label">Online</div>

        <div
          *ngFor="let friend of displayOnlineFriends"
          class="FriendList_item"
        >
          <a
            routerLink="./users/{{friend.username}}"
            class="Friend"
          >
            <div
              class="Friend_thumb"
              [ngStyle]="{
                'background-image': 'url(' + friend.currentAvatarThumbnailImageUrl + ')'
              }"
            ></div>
            <div class="Friend_info">
              <div class="Friend_name">{{friend.displayName}}</div>
              <div class="Friend_status">{{(friend.location.startsWith('wrld_')) ? 'online' : friend.location}}</div>
            </div>
          </a>
        </div>
      </div>

      <div class="FriendList_group">
        <div class="FriendList_label">Offline</div>

        <div
          *ngFor="let friend of displayOfflineFriends"
          class="FriendList_item"
        >
          <a
            routerLink="./users/{{friend.username}}"
            class="Friend"
          >
            <div
              class="Friend_thumb"
              [ngStyle]="{
                'background-image': 'url(' + friend.currentAvatarThumbnailImageUrl + ')'
              }"
            ></div>
            <div class="Friend_info">
              <div class="Friend_name">{{friend.displayName}}</div>
              <div class="Friend_status">{{(friend.location.startsWith('wrld_')) ? 'online' : friend.location}}</div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="App_main">
    <router-outlet></router-outlet>
    <div
    class="Loading"
    [ngClass]="{
      '-visible': state.loading
    }"
    ><i class="material-icons">autorenew</i></div>
  </div>
</div>
