<div class="App">
  <div class="App_menu">
    <div class="FriendList">

      <div class="FriendList_tools">
        <div
          class="FriendList_logout"
          (click)="logout()"
        ><i class="material-icons">exit_to_app</i></div>
        <div class="FriendList_filter">
          <div class="FriendList_filterIcon"><i class="material-icons">search</i></div>
          <div class="FriendList_filterInput">
              <input
              type="text"
              [(ngModel)]="filter"
            >
          </div>
        </div>
      </div>

      <app-friend-list
        status="online"
        [filter]="filter"
      ></app-friend-list>

      <app-friend-list
        status="offline"
        [filter]="filter"
      ></app-friend-list>

    </div>
  </div>
  <div class="App_main">
    <router-outlet></router-outlet>
    <div
    class="Loading"
    [ngClass]="{
      '-visible': state.loading
    }"
    ><i class="material-icons">autorenew</i></div>
  </div>
</div>
